<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/style/stylesheet.css"></li>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
	<div id="container">		
		<form action='/Users' method='post'>
			Your Name: <input type='text' name='name'>
			Dojo Location: <select name="location">
				<option >Dallas</option>
				<option >San Jose</option>
				<option >Seattle</option>
			</select>
			Faviorite Language: <select name="language">
				<option >Java</option>
				<option >PHP</option>
				<option >Ruby</option>
			</select>
			Comment (optional): <input type='text' name='comment'>
			<input type='submit' value='Button'>
		</form>
	</div>
</body>
</html>